.resume {
  justify-content: center;
  align-items: center;
  width: 210mm;
  background: white;
  padding: 20px;
  font-size: 12px;
  --theme-color: #283593;
}

.resumeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 8px;
}

.left {
  text-align: left;
}

.right {
  text-align: left;
}

.name {
  font-size: 35px;
  font-weight: bold;
  color: var(--theme-color);
}

.title {
  font-size: 14px;
  color: #555;
}

/* Social Links */
.right p {
  margin: 3px 0;
  font-size: 12px;
}

.right a {
  color: var(--theme-color);
  text-decoration: none;
}

.right a:hover {
  text-decoration: underline;
}

/* Section Titles */
.section {
  margin-top: 10px;
}
.section h3 {
  font-size: 17px;
}

.sectionTitle {
  font-size: 14px;
  font-style: italic;
  color: var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 4px;
  margin-bottom: 8px;
}

/* Lists */
.section ul {
  list-style-type: disc;
  padding-left: 15px;
}

/* Project Links */
.projectLink {
  font-weight: bold;
  color: var(--theme-color);
  text-decoration: none;
}

.projectLink:hover {
  text-decoration: underline;
}

/* Education Table */
.educationTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.educationTable th {
  text-align: left;
  font-weight: bold;
}

.educationTable td {
  padding: 4px 0;
  border-bottom: 1px solid #ddd;
}
