.resumeContainer {
    display: flex;
    max-width: 210mm;
    height: 297mm;
    margin: 30px auto;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    page-break-inside: avoid; /* For printing */
  }
  
  .leftSection {
    width: 35%;
    background: var(--theme-color);
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .profile h1 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  
  .profile p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .socialLinks a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .section h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .section ul {
    padding-left: 20px;
  }
  
  .section li {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .contactSection {
    background: #fff;
    color: #000;
    padding: 15px;
    border-radius: 5px;
  }
  
  .rightSection {
    width: 65%;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .rightSection h3 {
    font-size: 22px;
    border-left: 5px solid var(--theme-color);
    padding-left: 10px;
    margin-bottom: 15px;
  }
  
  .summary p,
  .workHistory p,
  .projects p,
  .education p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .workItem ul,
  .projectItem ul {
    padding-left: 20px;
  }
  
  .projectItem p strong {
    font-size: 18px;
    display: inline-block;
  }
  
  .education p strong {
    font-weight: bold;
  }
  
  .achievements ul {
    padding-left: 20px;
  }
  
  .icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    vertical-align:middle;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  .linkIcon {
    margin-right: 8px; /* Adjust spacing between the icon and the link */
  }

  @media print {
    .resumeContainer {
      page-break-after: always;
    }
  }
  .leftSection p, .leftSection a {
    word-wrap: break-word;
    word-break: break-word;
  }
  .rightSection p, .rightSection a {
    word-wrap: break-word;
    word-break: break-word;
  }