.resume-container {
  display: flex;
  max-width: 900px;
  background: #ffffff;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
  padding: 7px;
  margin: auto;
  border-radius: 8px;
  text-align: left;
}

/* Left Panel */
.left-panel {
  padding-left: 20px;
  padding-top: 15px;
  width: 65%;
  padding-right: 20px;
  border-right: 2px solid #d4fa00;
}

.name {
  font-size: 30px;
  margin-bottom: 10px;
  color: #2a56c6;
  font-weight: bold;
}

.summary {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.section-title {
  border-bottom: 2px solid #2a56c6;
  font-size: 23px;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 5px;
}

.job-title,
.degree-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}

.date {
  font-weight: bold;
  color: #2a56c6;
  margin-bottom: 5px;
}

.institution {
  font-size: 16px;
  color: #555;
}

.job-list,
.skill-list,
.certification-list,
.info-list {
  padding-left: 20px;
}

.job-list li,
.skill-list li,
.certification-list li,
.info-list li {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

/* Right Panel */
.right-panel {
  width: 35%;
  padding-left: 20px;
  background: #2a2d31;
  color: #ffffff;
}

.contact-info {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.right-panel li {
  color: #eeedede3;
}

.contact-info a {
  color: #2157df;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.skill-category {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.skills ul {
  padding-left: 20px;
}

.skills li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}
