.container {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 40px; */
  /* padding: 20px 20px 0px 20px; */
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background-color: white;
  position: relative;
  line-height: 1.5;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.534);
}

.headerSection {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 40px; */
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 15px 20px 0;
  background-color: #2c446f;
  padding-bottom: 20px;
  padding-top: 20px;
  /* padding-left: 100px; */
  text-align: center;
}

.nameTitle {
  margin-bottom: 15px;
  text-align: center;
}

.name {
  font-size: 32px;
  margin: 0;
  font-weight: 600;
  color: rgb(255, 255, 255) fff;
  text-align: center;
}

.title {
  font-size: 18px;
  margin: 5px 0 0 0;
  font-weight: 400;
  color: #b4b4b4;
  text-align: center;
}

.contactInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  padding-left: 17%;
}

.contactItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: calc(50% - 15px);
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #ffffff;
  font-weight: bold;
  order: -1;
}

.addressSection {
  margin-bottom: 30px;
  text-align: center;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  /* background-color: #000000; */
}

.addressTo {
  margin-bottom: 5px;
}

.addressSection p {
  text-align: left;
  margin: 0;
  line-height: 1.6;
}

.letterContent {
  margin-bottom: 30px;
  /* padding-top: 20px; */
  padding-right: 25px;
  padding-left: 25px;
  /* background-color: #000000; */
}

.content {
  background-color: rgb(255, 255, 255);
  padding-bottom: 1px;
  border-radius: 0px 0px 10px 10px;
}

.letterContent p {
  margin-bottom: 15px;
  text-align: justify;
}

.achievementsList {
  margin: 20px 0;
  padding-left: 20px;
}

.achievementsList li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 10px;
  text-align: justify;
}

.achievementsList li::before {
  content: "◦";
  position: absolute;
  left: -20px;
  color: #3fbbc0;
  font-weight: bold;
  font-size: 18px;
}

.signature {
  margin-top: 40px;
}

.signature p {
  margin: 5px 0;
}

.logo {
  width: 180px;
  height: auto;
}

/* Background pattern like in the image */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(63, 187, 192, 0.05) 2px,
    transparent 2px
  );
  background-size: 30px 30px;
  z-index: -1;
  pointer-events: none;
  border-radius: 12px;
}
